#
#
#
src/pbf2sqlite
src/pbf2sqlite.exe
src/sqlite3.c
src/sqlite3.h
src/config.h
src/osm_objects.c
src/osmxml.c
src/protobuf.c
src/readosm.c
src/readosm.h
src/readosm_internals.h
src/readosm_protobuf.h
#
doc/bld/
ext_readosm/
